/* myStyle.css */
li {
  float: left;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
iframe{
  width: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
}
hr{
    height:4px;
    border-width:0;
    background-color: #2673e7;}
.nav {
    background-color: #303030;
    position: fixed;
    font-family: 'Fanwood Text', serif;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #f2f2f2;
    font-size: 18px;}
body{
  background-image: url(background-2462434_1920.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    height: 100%;
    font-family: 'Comfortaa', cursive;} 
h1{
    font-family: 'Quattrocento', serif;
    margin-left: 10%;}
.division1{ 
      border-radius: 25px;
      background-color: #f2f2f2;
      font-family: 'Fanwood Text', serif;
      text-align:center;
      width: 90%;
      height: 80%; 
      margin: auto; }
  .division2{ 
    border-radius: 25px;
    background-color: #f2f2f2;
    font-family: 'Fanwood Text', serif;
    text-align:left;
    width: 90%;
    height: 80%; 
    padding-bottom: 15px;
    margin: auto; }     
a{
color: black;}
  summary{
      color: black;}
  .navlist {
    list-style-type: none;
    margin: 40;
    padding: 0;}
  .navitem {
    display: inline;
  align-items: center;}
.historial {
  list-style-type: none;
  margin: 0;
  padding: 0;} 
.histitem {

  display: block;
  color: white;}
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #2673e7;
  }
  
  .active {
    background-color: #2673e7;
  }
  .name{font-family: 'Fanwood Text', serif;
    text-align:right;

  }
  .dropdown{
    padding: 15px;
  }

  