/* myStyle.css */

iframe{ 
     width:80% ;
     height:400px;
     margin: auto;}
hr{
    height:4px;
    border-width:0;
    background-color: #2673e7;}
.nav {
    background-color: #303030;
    color: #d8d8d8;
    position: fixed;
    width: 100%;}
.division2{
    margin: auto;
    width: 80%;
    color: #e0f1f1;
  text-align: center;}
body{
    background-color: #ffffff;
    color: black;
    height: 100%;
    font-family: 'Comfortaa', cursive;} 
h1{
    font-family: 'Quattrocento', serif;
    margin-left: 10%;}
.division1{ 
      border-radius: 25px;
      background-color: #f2f2f2;
      padding: 20px; 
      width: 90%;
      height: 80%; 
      margin: auto; }
a{
color: black;}
  summary{
      color: black;}
  .navlist {
    list-style-type: none;
    margin: 40;
    padding: 0;}
  .navitem {
    display: inline;}
.historial {
  list-style-type: none;
  margin: 0;
  padding: 0;} 
.histitem {
  display: block;
  color: white;}